<!DOCTYPE html>
<html ng-app="jamestownChicken">
<head>
<title>Jamestown Chicken</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

 <link href="lib/bootstrap3/dist/css/bootstrap.min.css" rel="stylesheet">
 </head>
<body class='b1'>

<!-- Begin nav bar -->


<div>
  <nav ng-show="bg" class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="home"><img src='content/jamestownchickenlogo.png' /></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav ">
          <li><a ui-sref="home">Front page<span class="sr-only">(current)</span></a></li>
          <li><a ui-sref="profile">Comics<span class="sr-only">(current)</span></a></li>
          <li><a ui-sref="profile">Weather<span class="sr-only">(current)</span></a></li>
          <li><a ui-sref="profile">Art<span class="sr-only">(current)</span></a></li>
          <li><a ui-sref="profile">Business<span class="sr-only">(current)</span></a></li>

        </ul>


        <div ng-show="loggedIn"><button type="button" class="btn btn-danger navbar-btn navbar-right" ng-click='main.out()'>Sign out</button>
        <button type="button" class="btn btn-primary navbar-btn navbar-right" ng-click='main.out()'>My Account</button></div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


</div>

<!-- End Nav bar -->


<div class='container'>
  <div ui-view></div>
</div>



  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="lib/bootstrap3/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="content/css.css">
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="dist/all.js"></script>
</body>
</html>