<div>

  <form class = "form-signin has-success" ng-submit="reset.submit()" >
    <h2 class="form-signin-heading">Reset your password</h2>


    <label for="inputPass" class="sr-only">Email</label>
    <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="email" id="inputPass" class="form-control" placeholder="Enter your email" ng-model="reset.email" name='text' required  ></input>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
  </form>



</div>